@(Model: models.Search.DetailedSearchVm)
@import java.util.Locale
@import views.html.Shared.PagingPartials.PagingHiddensPartial
@import views.html.Shared.BookBlocksRows.Partials.Block.BookBlockListPartial
@import views.html.Shared.BookBlocksRows.Partials.Block.BookBlockListAjaxPartial
@import com.booktera.data.CommonModels_Models.DetailedSearchVM
@import models.Search.DetailedSearchVm
@import java.text.NumberFormat
@import models.Profile.UserGroupVm
@import models.Search.Partial.DetailedSearchInputsVm
@import models.Search.Partial.DetailedSearchViewHelper
@import java.text.SimpleDateFormat
@import models.Account.LoginVM
@import helper._
@import models.Profile.UserAddressVm
@import com.booktera.data.CommonModels_Models.UserAddressVM
@import models.Profile.AddressesViewHelper
@import play.api.data.Field
@import play.data.Form
@import play.data.Form.Field
@import views.html.Shared.PagingPartials.PagingPartial
@import java.lang.String
@import java.util.List
@import controllers.routes
@import play.mvc.Http.Context
@import utils.Utils
@import utils.Helpers.HtmlHelpers
@import utils.Helpers.HtmlHelpers.errorSummary
@import utils.Config
@import views.html.Shared._Layout
@import com.booktera.data.CommonPortable_Enums.BookBlockType
@import views.html.Search.Partial.DetailedSearchPartial
@import views.html.Profile.Partials.AddressRowPartial
@import views.html.Shared.BookBlocksRows.Partials.Block.BookBlockPartial
@import views.html.Shared.BookBlocksRows.Partials.Block.BookBlockListPartial
@import views.html.Shared.BookBlocksRows.Partials.Block.BookBlockListAjaxPartial

@{
    Context.current().args.put("BookBlockType", BookBlockType.ProductGroup)
    ""
}
@scripts = {
    <script src="/js/Site/Paging.js"></script>
    <script src="/js/Site/DetailedSearch.js"></script>
}
@styles = {
    <link rel="stylesheet" href="/css/BookBlock.css" >
    <link rel="stylesheet" href="/css/Paging.css" >
    <link rel="stylesheet" href="/css/DetailedSearch.css" >
}

@if(Utils.isGet){
    @{
        Context.current().args.put("Title", Config.MainTitleOfSite + " - Részletes keresés")
        ""
    }
    @_Layout(styles = styles, scripts = scripts){

		<div class="detailed-search-form">
            @DetailedSearchPartial(Model.SearchInputs, new DetailedSearchViewHelper(Model.SearchInputs))
		</div>
		<div class="detailed-search-results"></div>
    }
}else{
    @* POST_AJAX && DeatiledSearch form submitted *@
    @if(Context.current().args.get("isSearching").asInstanceOf[Boolean]){
        @PagingHiddensPartial()
        @BookBlockListPartial(Model.SearchResults)

		@* Itt már nincs layout, a js fájl már le lett küldve; csak az inicializálást már végrehajtotta a lopozó felület előtt *@
		<script type="text/javascript">
			$(function() { pagingInit(); });
		</script>
    }else{
        @* POST_AJAX && DeatiledSearch result set paging *@
        @BookBlockListAjaxPartial(Model.SearchResults)
    }
}