@(Model: com.booktera.data.CommonPortable_Models_ProductModels.BookBlockPLVM)
@import com.booktera.data.CommonPortable_Models_ProductModels.BookBlockPLVM
@import views.html.Shared.PagingPartials.PagingPartial
@import java.lang.String
@import play.mvc.Http.Context

@divId(model: BookBlockPLVM) = @{
    String.format("paging-%s", model.getPaging.getActualPageNumber)
}

<div id="@divId(Model)" class="book-blocks books-paged">
    @for(p <- Model.getProducts){
        @controllers.HomeController.RenderBookBlockPartial(p)
    }
</div>